<a href="https://colab.research.google.com/github/kanika214/PYTHON_TOPICS/blob/main/about_python_kanika.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 'Srings' - An immutable sequence data type

### len() function counts all of the characters in the string, including spaces and punctuation

In [3]:
#creating a string
Python = 'Hello world!'
print(Python)

#type of variable
type(Python)

# break into new line \n
print('hello\nworld')

len(Python)

Hello world!
hello
world

12

# String Indexing

* We know strings are a sequence, which means Python can use indexes to call parts of the sequence.
* A string index refers to the location of an element present in a string.
* In Python, we use brackets [] after an object to call its index.

In [4]:
string_index1 = 'I am very confident'
print(string_index1[0])

#last element in index
print(string_index1[-1])

I
t

# String Slicing

*   **colon(:)** (to perform slicing which grabs everything up to a designated point)
* element located at the right index is not included like [1:5]--> 1 to 4 it will show.

In [7]:
str_slc = 'I am very happy'
print(str_slc[1:5])



print(str_slc[:16])

# to end
print(str_slc[1:])


#Everything
print(str_slc[:])
len(str_slc)

 am
I am very happy
 am very happy
I am very happy

15

In [8]:
#we can use the index -4 to extract the FOURTH LAST element

print(str_slc[-4])

a

In [9]:
## Grab everything, but go in steps size of 1
print(str_slc[::1])

print(str_slc[::2])

# Grab everything, but go in step sizes of 5
print(str_slc[5:15:5])       #(start:stop:step)

I am very happy
Ia eyhpy
vh

# Reverse a string.

In [10]:
print(str_slc)

I am very happy

In [11]:
#reverse of string using slicing
print(str_slc[::-1])    # start from -1 then go to 0th index

yppah yrev ma I

## **split()** method Splits the **"string"** at the specified separator, and returns a **"list"**

In [12]:
st_splt = 'i am an aspiring data scienctist'
print(st_splt.split())

['i', 'am', 'an', 'aspiring', 'data', 'scienctist']

###**join() method** returns a string by joining all the elements of an iterable (list, string, tuple), separated by the given separator.

In [13]:
text = ['Python', 'is', 'a', 'fun', 'programming', 'language']

# join elements of text with space
print(' '.join(text))

Python is a fun programming language

In [14]:
i = ['1','2','3']
print(''.join(i))

123

# Reverse a string without changing the position of words.

In [15]:
string = 'GOOD LUCK'
split = string.split()
emp_str = ""
for i in split:
  emp_str = emp_str+' '+i[::-1]
print(emp_str)

 DOOG KCUL

In [16]:
#using function
def rev_str(text):
  sp=text.split()
  emp=""
  for char in sp:
    emp=emp+' '+char[::-1]
  return emp
rev_str('I HAVE MY DREAM JOB')

' I EVAH YM MAERD BOJ'

# concatenate strings!

In [17]:
str1='good'
str2='luck'
print(str1+' '+str2)

#multiply string with int
print(str2*3)

good luck
luckluckluck

# String functions and methods

1. **len()** **function** returns the length of the string
2. **lower()** **method** converts the string to lowercase
3. **upper()** **method** converts the string to uppercase
4. **count()** **method** returns the count of a string in the given string.

 Unlike lower() and upper() method, the count() method takes a string as an argument
5. **find()** **method** returns the index of the first occurrence of a string present in a given string. Similar to the count() method, the find() method takes a string as an argument.
6. **replace()** **method** takes two arguments - 
  * (i) the string to replace and
  * (ii) the string to replace with, and returns a modified string after the operation
7. **capitalize():** method returns a string where the first character is upper case, and the rest is lower case

In [18]:
#1. len() function
str_len = 'I am learning python'
print(len(str_len))

20

In [19]:
#2.lower() method
str_low = 'ALL THE BEST'
str_low.lower()

'all the best'

In [20]:
#3. upper() method
str_up = 'i am very happy'
print(str_up.upper())

I AM VERY HAPPY

In [21]:
#4. count() method
str_cnt = 'i am happy that i am learning python and sql'
print(str_cnt.count('i am'))

2

In [22]:
#5. find() method
str_find = 'i am improving my coding skills'
print(str_find.find('c'))



#find method will return a value of -1 if string is not there
str_find.find('z')

18

-1

In [23]:
#6. replace() method, takes 2 argument
str_rplc = 'all the best'
print(str_rplc.replace('best','good luck'))

all the good luck

In [24]:
#7. capitalize() method
str_capital = 'kanika raj'
print(str_capital.capitalize())

Kanika raj

### **isalnum()** Returns True if all characters in the string are alphanumeric

###**isalpha()** Returns True if all characters in the string are in the alphabet

###**isdigit()** Returns True if all characters in the string are digits

In [25]:
is_num = "kanikaraj"

x = is_num.isalnum()
print(x)

isnm = 'kanikaraj@@'
print(isnm.isalnum())

True
False

In [26]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [27]:
txt = "50800"

x = txt.isdigit()

print(x)

True

## swapcase() Swaps cases, lower case becomes upper case and vice versa.

In [28]:
txt = "HeLLO,WeLCOME"

x = txt.swapcase()

print(x)

hEllo,wElcome

## **zfill()** Fills the string with a specified number of 0 values at the beginning

In [29]:
txt = "5"

x = txt.zfill(2)

print(x)

05

# Printing strings a bit differently

In [30]:
f_name = 'kanika'
l_name = 'raj'
print(f'merge both the strings:-  {f_name} {l_name}')

merge both the strings:-  kanika raj

In [31]:
print(f_name+' '+l_name)

kanika raj

## Check if any word is present in the given string or not

**To check the certain phrase in a string we use *IN* and *NOT IN* keyword**

In [32]:
st_wrd = 'i am learning python from basic and soon i will learn advance'
if 'soon' in st_wrd:
    print('True')
else:
    print('n.a')

True

# List- A list is a collection of similar or different types of data.

* **List items are ordered, mutable, and allow duplicate values.**

In [33]:
list1 = ['a','1','b','2']
print(list1)

#check item
if i in list1:
  print('yes')

['a', '1', 'b', '2']

### Add Elements to a Python List:

* **+**
* **append()**
* **join()**
* **insert()** - method inserts an element to the list at the specified index
* **extend()** - to add all items of one list to another

In [34]:
#Add item into a list
l1 = ['Fname','lname','dob','email']+['mobile_no']
print(l1)

['Fname', 'lname', 'dob', 'email', 'mobile_no']

In [35]:
#2.append()
num_ap = [1,2,3,4,5]
num_ap.append(6)
print(num_ap)

[1, 2, 3, 4, 5, 6]

In [36]:
#3.join()
l_j = ['hello','kanika_raj']
print(' '.join(l_j))

hello kanika_raj

In [37]:
#4.insert()
vowel = ['a', 'e', 'i', 'u']
vowel.insert(3, 'o')
print(vowel)

['a', 'e', 'i', 'o', 'u']

In [38]:
#5. extend()
prime_numbers = [2, 3, 5]
numbers = [1, 4]
numbers.extend(prime_numbers)
print(numbers)

[1, 4, 2, 3, 5]

In [39]:
# Print all items in the list, one by one:
litems= ['a','b','c']
for i in litems:
  print(i)

a
b
c

In [40]:
# Print all items by referring to their index number:
list_index = ["a", "b", "c"]
for i in range(len(list_index)):
  print(list_index[i])

a
b
c

In [41]:
# Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [42]:
# Looping using list comprehention

thislist = ["apple", "banana", "cherry"]
print([i for i in thislist])

['apple', 'banana', 'cherry']

## List methods
* pop() - to "pop off" an item from the list.

 By default pop() takes off the element at the last index, but you can also specify which index to pop off.
* remove()
* count()
* index()
* sort()
* reverse()

In [43]:
#1. pop()
my_list = [1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30]]

# Pop off the 0 indexed item
my_list.pop()

[10, [19, 20], 30]

In [44]:
# Assign the popped element, remember default popped index is -1
my_list.pop(11)

2.73

## Use remove() to remove an item/element from the list.
* By default remove() removes the specified element from the list.

* remove() takes the element as an argument.

In [45]:
my_list = [1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30]]

# Remove the element which you want to 
my_list.remove([10, [19, 20], 30])
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3]]

## index()
The index() method returns the index of a specified element.

In [46]:
my_list.index('Append me!')

10

## sort()
- Use sort() to sort the list in either ascending/descending order

- The sorting is done in ascending order by default

- sort() method takes the reverse boolean as an argument

- sort() method only works on a list with elements of same data type

In [47]:
new_list = [6, 9, 1, 3, 5]

# Use sort to sort the list (this is permanent!)
new_list.sort()
print(new_list)

[1, 3, 5, 6, 9]

In [48]:
# Use the reverse boolean to set the ascending or descending order
new_list.sort(reverse=True)
print(new_list)

[9, 6, 5, 3, 1]

In [49]:
boolean_list = [True, False]

boolean_list.sort(reverse=True)
print(boolean_list)

[True, False]

# reverse()
reverse() method reverses the list

In [50]:
my_list = [1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']
my_list.reverse()
print(my_list)

['Dub Dub', 'Lubba', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]

## clear() Removes all the elements from the list

## List Functions

### len()- function returns the length of the list

In [51]:
l_length = ['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler']
len(l_length)

6

In [52]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()

print(fruits)

[]

# Nested Lists- A list inside a list
* [A [list] inside a list].

In [53]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=['b','a','d']
lst_3=[7,8,9]

# Make a list of lists to form a matrix
list_of_lists = [lst_1,lst_2,lst_3]
print(list_of_lists)

[[1, 2, 3], ['b', 'a', 'd'], [7, 8, 9]]

In [54]:
# Grab first item in matrix object
list_of_lists[1]

['b', 'a', 'd']

In [55]:
list_of_lists[1][1]

'a'